<div class="cart_product">
    <div class="product_image">
        <img src="{{productimg}}" alt="">
    </div>
    <div class="product_info">
        <h3>{{producttitle}}</h3>
        <div class="price">
            <h3>{{productcmrp | currency : "INR"}}</h3>
            <h4><s>{{productmrp | currency : "INR"}}</s></h4>
        </div>
        <div class="quntity">
            <button (click)="quantity(productid,'+')">
                +
              </button>
            <input [value]="productquantity" type="text">
            <button (click)="quantity(productid,'-')">
                -
            </button>
        </div>
        <div class="remove">
            <button (click)="removeproduct(productid)">Remove Item</button>
        </div>
    </div>
</div>