.filter_main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    mat-form-field{
        margin-right: 20px;
    }
    button{
        transform: translateY(-10px);
    }
}